file{
	display: none;
}

.withbr {
	display: block;
}

.nobr {
	display: inline;
}

.bg {
	background-color: #efefef;
}

.bg-contain {
	color: #2f2f2f;
}


li.rb,.radius-border {
	border-style: double double double double;
	border-color: aqua;
	background-color: antiquewhite;
	border-top-left-radius: 0.1414em;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.1414em;
}

ul.nav-block {
	position: fixed;
	top: 0;
    width: 100%;
	list-style-type: none;
    margin: 0;
    padding: 0;
	overflow: hidden;
    background-color: #333;
}

li.nav{
	display: inline;
	float: left;
	border-right: 1px solid #bbb;
	border-bottom: 1px dotted #bbb;
}

li.nav:first-child{
	border-left: 1px solid #bbb;
}

li.nav a,li.nav span{
	display: inline;
    color: aqua;
    text-align: center;
    padding: 10px 16px;
    text-decoration: none;
	cursor:alias;
}

li.nav.disabled span{
	color: darkred;
	cursor: not-allowed;
}

h1 { 
	/* font-size: 100px;  */
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-display: red;
}
