@font-face {
    font-family: 'AaDarkAbyssChinese';
    src: url('AaAnyeshenyuanNon-CommercialUse.woff2') format('woff2'),
        url('AaAnyeshenyuanNon-CommercialUse.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

